<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE Events SYSTEM "EventDTD.dtd" >

<Events>
<Event name="MailRead" affectsAssetType="Agent" affectsStateDimension="Eavesdropping">
    <DirectEffect>
        <Transition WhenActualStateIs="NoVulnerability" EndStateWillBe="LowVulnerability" />
        <Transition WhenActualStateIs="LowVulnerability" EndStateWillBe="MediumVulnerability" />
        <Transition WhenActualStateIs="MediumVulnerability" EndStateWillBe="HighVulnerability" />
        <Transition WhenActualStateIs="HighVulnerability" EndStateWillBe="HighVulnerability" />
    </DirectEffect>
</Event>
<Event name="HostDeath" affectsAssetType="Host" affectsStateDimension="LIVENESS">
    <DirectEffect>
        <Transition WhenActualStateIs="*" EndStateWillBe="DEAD" />
    </DirectEffect>
    <TransitiveEffect>
        <CausesEvent name="NodeDeath" assetType="Node"/>
        <VulnerableAssets>
            <ContainmentFilter eventAssetContainerName="Node" />
            <EventLikelihood probability="VERY_HIGH" />
        </VulnerableAssets>
    </TransitiveEffect> 
</Event>
<Event name="NodeDeath" affectsAssetType="Node" affectsStateDimension="LIVENESS">
    <DirectEffect>
        <Transition WhenActualStateIs="LIVE" EndStateWillBe="DEAD" />
        <Transition WhenActualStateIs="DEAD" EndStateWillBe="DEAD" />
    </DirectEffect>
    <TransitiveEffect>
        <CausesEvent name="AgentDeath" assetType="Agent"/>
        <VulnerableAssets>
            <ContainmentFilter eventAssetContainerName="Agent" />
            <EventLikelihood probability="VERY_HIGH" />
        </VulnerableAssets>
    </TransitiveEffect> 
</Event>
<Event name="AgentDeath" affectsAssetType="Agent" affectsStateDimension="LIVENESS">
    <DirectEffect>
        <Transition WhenActualStateIs="LIVE" EndStateWillBe="DEAD" />
        <Transition WhenActualStateIs="DEAD" EndStateWillBe="DEAD" />
    </DirectEffect>
</Event>

</Events>